<!DOCTYPE html>
<html>
<head>
	<nav>
		<span>
			<a href="/users/login">Login</a>
			<a href="/users/register">Registration</a>
			<a href="/movies/home">Movies</a>
			<a href="/users/watchlist">Movies To See</a>
		</span>
	</nav>
</head>
<body>

	 

	<nav>	



	</nav>


</body>
</html>