<!DOCTYPE HTML>
<html>
<head>

	 <link type="text/css" href="/css/style.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
	<nav>
		<span>
			<a href="/users/login">Login</a>
			<a href="/users/register">Registration</a>
			<a href="/movies/home">Movies</a>
			<a href="/users/watchlist">Movies To See</a>
		</span>
		<button id="searchIcon">Search</button>
	</nav>
</head>

<header>
	<div class="modal">
	    <div class="modalContent">
	        <form class="modalForm" action="/movies/results" method="POST">
	            <input placeholder="Movie title" name="title" type="text">
	            <input placeholder="Genre" type="text" name="genre">
	            <input placeholder="0" name="minRating" type="number">
	            <input placeholder="Actor/Actress" name="actor" type="text">
	            <input placeholder="Year Released" name="releaseYear" type="number">
	           <input placeholder="Number" type="number" name="maxResults">
	            <button id="submitSearch">Search</button>
	        </form>
	    </div>
	</div>
</header>
<body>
