<script type="text/javascript" src="/js/API.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/controllers/movieController.js"></script>

</body>

	<footer>

		
	</footer>

</html>

