<!DOCTYPE html>
<html>
<head>
	<nav>
		<span>
			<a href="/users/login">Login</a>
			<a href="/users/register">Registration</a>
			<a href="/movies/home">Movies</a>
			<a href="/users/watchlist">Movies To See</a>
		</span>
		<button id="searchIcon">Search</button>
	</nav>
</head>
<body>

<div class="modal">
    <div class="modalContent">
        <form class="modalForm">
            Movie Title: <input placeholder="Movie title" type="text">
            Genre: <input placeholder="Genre" type="text">
            Rating: <input placeholder="Rating" type="text">
            Actors/Actress: <input placeholder="Actors/Actress" type="text">
            Year: <input placeholder="Year" type="text">
            <button id="submitSearch">Search</button>
        </form>
    </div>
</div>
	 


</body>
</html>