<!doctype html>
<html>
<head>
    <title>Register Page</title>

</head>
<body>

<h1>Sign Up</h1>



<form action="/users/register" method="post">
    Username: <input type="text" name="username" placeholder="username">
    Password: <input type="text" name="password" placeholder="password">
    <button>Register Account</button>

    <a href="/users/login"><small>Have an Account? Sign In</small></a>
</form>



</body>
</html>