body{
    /*display: flex;*/

}
h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-weight: normal;
}
h2{
    font-size: 10pt;
    /*margin-top: -20px;*/
    /*text-align: inherit;*/
}
ul{
    list-style-type: none;
    padding: 0;

}
.container{
    display: inline-flex;
    height: 400px;
    width: 90vw;
    /*flex-wrap: nowrap;*/
    /*text-align: center;*/
}
li{
    /*display: flex;*/
    /*flex-wrap: nowrap;*/

}