body{

}

#poster{
    width: 310px;
    position: absolute;
    opacity: 1;
    left: 100px;
    margin: 60px auto;
    z-index: 1;
    border-radius: 50%;
}
#background {
    width: 99vw;
    height: 600px;

    /*opacity: 0.6;*/
    position: relative;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    top: 10px;
}
.top {
    position: absolute;
    top: 0;
    left: 0;
    /*right: 6px;*/
    width: 100%;
    height: 100%;
    font-size: 60px;
    text-align: right;
    background-color: rgba(50, 0, 50, 0.7);
}
.middle{
    position: absolute;
    top: 8px;
    bottom: 20px;
    right: 16px;
}
button{
    border:none;
    display: inline-block;
    width: 500px;
    background: none;
    text-align: right;
    padding: 0;
    color: white;
}
button:hover{
    background: none;
    color: red;
}
button i{
    font-size: 20px;
    color: white;
    /*margin-left: 50px;*/
}
h1{
    font-family: 'Monoton', cursive;
    font-weight: normal;
    max-width: 100px;
}
h2{
    top: 0;
    margin-bottom: -30px;
    font-size: 40px;
    /*font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));*/
}
small{
    font-size: 30px;
}
h3{
    font-size: 20px;
    padding-right: 18vw;
}
h4{
    font-size: 20px;
    text-align: center;
    max-width: 55vw;
    padding-left: 55vw;
    /*width: 60vw;*/
}
h5{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
/*heart icon*/
h6{
    font-size: 20px;
    margin-right: 0;
    text-align: right;
    /*top: 10px;*/
    /*display: inline;*/
}
.rating{
    font-size: 20px;
    margin-top: 5px;
}

/*h6:hover, button:hover{*/
    /*color:red;*/
/*}*/
p{
    text-align: left;
}