body{

}

#poster{
    width: 300px;
    position: absolute;
    opacity: 1;
    left: 100px;
    margin: 30px auto;
    z-index: 1;
}
#background {
    width: 99vw;
    height: 500px;
    /*background: rgba(139, 0, 139, 0.6);*/
    opacity: 0.6;
    position: relative;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.top {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 60px;
}
.middle{
    position: absolute;
    top: 8px;
    bottom: 20px;
    right: 16px;
}
button i{
    font-size: 20px;
    color: white;
    margin-left: 50px;
}
h1{
    font-family: 'Monoton', cursive;
    font-weight: normal;
}
h2{
    font-size: 50px;
    /*font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));*/
}
h3{
    font-size: 20px;
}
h4{
    font-size: 20px;
    text-align: center;
    width: 60vw;
}
h5{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
/*heart icon*/
h6{
    font-size: 30px;
    margin: 50px;
    /*text-align: right;*/
    top: 10px;
    display: inline;
}
.showText span{
    visibility: hidden;
}
h6:hover, .showText span{
    visibility: visible;
    color: red;
    font-size: 30px;
    margin: 50px;
    top: 10px;
}
#star:hover{
    color:yellow;
}
p{
    text-align: left;
}