body{
    /*margin: 20% auto;*/
    text-align: center;
    /*font-family: 'Arvo', serif;*/
    letter-spacing: 0.1em;
}
nav{
    margin: 20px;
    font-size: 30px;
}
nav a {
    text-decoration: none;
    justify-content: space-around;
    padding: 35px;
    color: black;
}
nav a:hover{
    color: #919191;
}
h1{
    margin: 10px auto;
    padding-bottom: 100px;
    word-spacing: .3em;
    font-size: 70px;
    font-family: 'Monoton', cursive;
    font-weight: normal;
    /*font-family: 'Raleway', sans-serif;*/
}
h2{
    font-size: 30px;
}
#searchIcon{
    /*height: 30px;*/
    /*text-align: right;*/
    border-bottom: 1.5px solid black;
    color: white;
    background-color: #007AFF;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 25px 3px 25px;
    width: 15vw;
}
#searchIcon:hover{
    background-color: #007AFF;
    opacity: .9;
    color: white;
    border-radius: 5px;
}

input, select{
    padding: 7px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    border-style: groove;
    border-radius: 5px;
}
.modal{
    background-color: rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    right: 0;
    height: 60vh;
    width: 40vw;
    z-index: 2;
    overflow: auto;
    display: none;
}
.modalContent{
    height: 30vh;
    width: 30vw;
    margin: 60px auto;
}
.modalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;

}

