body{
    text-align: center;
    background-color: rgb(250,250,250);
    letter-spacing: 0.1em;
    width: 100vw;
    margin: 0;
}
nav{
    padding: 20px;
    font-size: 30px
    line-height: 72px;
    text-align: center;
    background-color: rgba(200, 200, 200, 5);
    /*display: flex;*/
    /*justify-content: space-between;*/
}
nav a {
    text-decoration: none;
    height: 72px;
    justify-content: space-around;
    padding-top:24px;
    padding-bottom:24px;
    padding-left: 35px; 
    padding-right:35px;
    color: black;
}
nav a:hover{
    color: white;
    height: 72px;
    background-color:rgba(50, 50, 50, 0.7);
}
h1{
    margin: 10px auto;
    /*text-align: center*/
    padding-bottom: 100px;
    word-spacing: .3em;
    font-size: 70px;
    font-family: 'Monoton', cursive;
    font-weight: normal;
}
h2{
    font-size: 30px;
}
#submitSearch{
    background-color: #007AFF;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}
#searchIcon{
    border-bottom: 1.5px solid black;
    color: white;
    background-color: #007AFF;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px 25px 3px 25px;
    width: 15vw;
}
#searchIcon:hover{
    background-color: #007AFF;
    opacity: .9;
    color: white;
    border-radius: 5px;
}

input, select{
    padding: 7px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    border-style: groove;
    border-radius: 5px;
}
.modal{
    background-color: rgba(50,50,50,.9);
    position: fixed;
    top: 0;
    right: 0;
    height: 65vh;
    width: 37vw;
    z-index: 2;
    overflow: auto;
    display: none;
}
.modalContent{
    height: 30vh;
    width: 30vw;
    margin: 60px auto;
}
.modalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;

}

