<!doctype html>
<html>
<head>
    <title>Login Page</title>

</head>
<body>

<p><%= message %></p>

<h1>Log In</h1>

<form action="/users/login" method="post">
    Username: <input type="text" name="username" placeholder="username"><br>
    Password: <input type="text" name="password" placeholder="password"><br>
    <button>Login</button>
</form>

</body>
</html>