<%include ../partials/movieshead.ejs%>
<h1>Search results for globalresponse</h1>



<form class="prefForm" action="/movies/results" method="POST">
  Favorie Genres: <input placeholder="Genre" type="text" name="genre">
  Favorite Actor/Actress: <input placeholder="Actor/Actress" name="actor" type="text">
  <button id="submitPref">Search</button>	
</form>



<%include ../partials/moviesfooter.ejs%>