<%include ../partials/movieshead.ejs%>
<h1>Search results for globalresponse</h1>



<form class="prefForm" action="/users/preferences" method="POST">
  Favorie Genres: <input placeholder="Favorite Genre" type="text" name="favGenre">
  Favorite Actor/Actress: <input placeholder="Favorite Actor/Actress" name="favActor" type="text">
  <button id="submitPref">Search</button>	
</form>




<%include ../partials/moviesfooter.ejs%>