<!DOCTYPE HTML>
<html>
<head>

  <link type="text/css" href="/css/style.css" rel="stylesheet">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <script src="https://use.fontawesome.com/d37a5741c5.js"></script>
</head>
<body>

<%include ../partials/movieshead.ejs%>


<h1>Search results for globalresponse</h1>



  Favorie Genres: 

  <form class="prefForm" action="/users/preferences" method="POST">
  	<div name="genre">
		<% for(let i = 0; i<arrayOfObjects.length; i++){ %>  
			<input type="checkbox" value=<%=arrayOfObjects[i].id%> name="favGenres"
				<% for (let j = 0; j < genre.length; j++) { -%>
					<% if (arrayOfObjects[i].id == genre[j]) { -%>
						checked
					<% } -%>
				<% } -%>

			><%=arrayOfObjects[i].text%></input>
		<%}%>
	            
    </div>


  	Favorite Actor/Actress: <input placeholder="Actor name" name="favActor" type="text">
      <ul>
  		<% for (let i = 0; i < actor.length; i++) { -%>
      	<li><%= actor[i] %></li>
  		<% } -%>
  		</ul>
	<button id="submitPref">Submit</button>	
  </form>







<% include ../partials/moviesfooter.ejs %>