<!doctype html>
<html>
<head>
    <title>Register Page</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
<body>

<h1>Sign Up</h1>



<form action="/users/register" method="post">
    Username: <input type="text" name="username" placeholder="username"><br>
    Password: <input type="text" name="password" placeholder="password"><br>
    <a href="/users/login"><small>Have an Account? Sign In</small></a><br>

    <button>Register Account</button><br>

</form>



</body>
</html>