<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</head>
<body>

<h1>My Movie List</h1>

<h2>Sign Up</h2>



<form action="/users/register" method="post">
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="text" name="password" placeholder="password"><br><br>

    <button>Register Account</button><br><br>

    <a href="/users/login"><small>Have an Account? Sign In</small></a>

</form>



